body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    font-size: 2rem;
    color: #333;
}
h2{
    font-size: 1.5rem;
    color: #666;
}
h3{
    font-size: 1.2rem;
    color: #999;
}
#click-button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#click-count{
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}